/* globales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #fefff4;
  text-decoration: none;
  list-style: none;
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(180deg, #082735 -3.21%, #030d12 103.67%);
}

.hidden {
  display: none;
}

.block {
  display: block;
}

#nav-burger {
  cursor: pointer;
}

/* header */
.close-btn {
  position: absolute;
  top: 5rem;
  right: 5rem;
  cursor: pointer;
}

.flex {
  display: flex;
}

.nav-wraper {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #0076a3;
  justify-content: center;
  align-items: center;
}

.nav-bar {
  padding-inline: 12.8rem;
  margin-top: 9.6rem;
  margin-bottom: 20.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  flex-wrap: nowrap;
}

.header__links-container {
  display: flex;
  gap: 4.8rem;
}

.links--blanco {
  font-size: 2rem;
}

.links--blanco:hover {
  text-decoration: underline;
  color: #d9eb0f;
  transition: 0.3s;
}

/* footer */
footer {
  width: auto;
  height: -moz-fit-content;
  height: fit-content;
  padding-block: 6rem;
  padding-inline: 12.8rem;
  background: #fefff4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer__contenido {
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  flex-wrap: wrap;
}

.footer__links-containner {
  display: flex;
  gap: 3.6rem;
  flex-wrap: wrap;
}

.footer__social {
  display: flex;
  gap: 5.7rem;
}

.footer__social-icon:hover {
  opacity: 0.4;
  transition: 0.3s;
}

.links--azul {
  font-size: 2rem;
  color: #082735;
}

.links--azul:hover {
  text-decoration: underline;
  color: #0076a3;
  transition: 0.3s;
}

.footer__creditos {
  color: #030d12;
  text-align: center;
}

.btn--secundario {
  display: flex;
  width: 14.6rem;
  height: 4.6rem;
  padding: 1.2rem 2.4rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 3rem;
}

.btn--acido {
  width: 20.7rem;
  height: 6.5rem;
  padding: 1.6rem 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d9eb0f;
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 3rem;
  border: 0.1rem solid #d9eb0f;
}

.btn--acido:hover {
  color: #030d12;
  background-color: #d9eb0f;
  transition: 0.3s;
}

.btn--azul {
  border: 0.2rem solid #0076a3;
  color: #0076a3;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: #fefff4;
}

.btn--azul:hover {
  border: 0.2rem solid #d9eb0f;
  background-color: #d9eb0f;
  color: #082735;
  transition: 0.3s;
}

.btn--blanco {
  border: 0.2rem solid #fefff4;
  color: #fefff4;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn--blanco:hover {
  background-color: #fefff4;
  color: #082735;
  transition: 0.3s;
}

/* componentes */
.page__header {
  margin-left: 12.8rem;
  margin-bottom: 9.6rem;
  color: #d9eb0f;
  font-family: "Teko", sans-serif;
  font-size: 6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* inicio */
.hero {
  padding-inline: 12.8rem;
  margin-bottom: 29.7rem;
  display: flex;
  gap: 12rem;
  align-items: center;
  justify-content: center;
}

.hero__logo {
  width: 100%;
  height: 100%;
  animation: fadeIn 2s ease forwards;
}
.hero__logo svg {
  max-width: 100%;
  min-width: 90%;
}

.hero__contenido {
  max-width: 45rem;
  min-width: 30rem;
}

.hero__titular {
  margin-bottom: 1.8rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 113%;
  color: #d9eb0f;
  animation: fadeIn 4s ease forwards;
}

.hero__texto {
  margin-bottom: 3.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 120%;
  animation: fadeIn 7s ease forwards;
}

.nosotros-inicio {
  width: auto;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 24.3rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -moz-column-gap: 2.4rem;
       column-gap: 2.4rem;
  background-color: #fefff4;
}

.nosotros-inicio__img {
  width: auto;
  grid-column: 1/4;
  background-image: url("../assets/img/nosotros_1920x1280.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nosotros-inicio__contenido {
  padding-top: 8rem;
  padding-right: 12.8rem;
  grid-column: 4/6;
}

.nosotros-inicio__titular {
  margin-bottom: 2.8rem;
  font-family: "Teko", sans-serif;
  font-size: 4.8rem;
  font-weight: 500;
  font-style: normal;
  font-optical-sizing: auto;
  line-height: 113%;
  color: #082735;
}

.nosotros-inicio__texto {
  margin-bottom: 7rem;
  color: #082735;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.nosotros-inicio_video {
  width: 100%;
}

.servicios-inicio {
  margin-inline: 12.8rem;
  margin-bottom: 24.3rem;
}

.section-header {
  margin-bottom: 11.5rem;
  text-align: center;
  font-family: "Teko", sans-serif;
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 113%;
  background: linear-gradient(90deg, #d9eb0f 0%, #0076a3 69.31%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.servicios-inicio__cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  flex-wrap: wrap;
}

.servicios-inicio__card {
  width: 350px;
  height: 272px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  padding-top: 6rem;
  padding-bottom: 3rem;
  padding-inline: 1.8rem;
  position: relative;
  border-radius: 16px;
  border: 2px dashed #0076a3;
}

.servicios-inicio__icon {
  position: absolute;
  right: 38%;
  top: -18%;
}

.servicios-inicio__titular {
  margin-bottom: 2rem;
  color: #0076a3;
  text-align: center;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.servicios-inicio__texto {
  margin-bottom: 1.6rem;
  color: #0076a3;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.proyectos-inicio {
  width: auto;
  height: 40.4rem;
  padding-inline: 12.8rem;
  margin-bottom: 24.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("../assets/img/proyectos_1920x1280.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 100rem rgba(3, 13, 18, 0.7);
}

.proyectos-inicio__contenido {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.proyectos-inicio__titular {
  margin-bottom: 2rem;
  color: #fefff4;
  text-align: right;
  font-family: "Teko", sans-serif;
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.empresas {
  padding-inline: 12.8rem;
  margin-bottom: 27.3rem;
}

.empresas__logos {
  display: flex;
  justify-content: center;
  gap: 12rem;
  align-items: center;
  flex-wrap: wrap;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* proyectos */
.proyectos {
  display: flex;
  flex-direction: column;
}

.proyectos__container {
  width: auto;
  height: 49rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.proyectos__link {
  opacity: 0.2;
}

.proyectos__link:hover {
  opacity: 0.9;
  transition: 0.6s;
}

.proyectos--uber {
  background-image: url("../assets/img/uber_1920x1280.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.proyectos--amazon {
  background-image: url("../assets/img/amazon_1920x2879.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.proyectos--cocacola {
  background-image: url("../assets/img/coca_1920x2400.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.proyectos__titular {
  color: #d9eb0f;
  text-align: center;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 101%;
  text-shadow: 0 0.2rem 1rem #082735;
  text-shadow: 0 0.2rem 0rem #082735;
  text-shadow: 0 0.2rem 0.5rem #082735;
}

.proyectos__texto {
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-size: 2.4rem;
  line-height: 101%;
  text-shadow: 0 0.2rem 1rem #082735;
  text-shadow: 0 0.2rem 0rem #082735;
  text-shadow: 0 0.2rem 0.5rem #082735;
}

/* servicios */
.servicios__container {
  margin-bottom: 10rem;
  padding-inline: 12.8rem;
  display: flex;
  flex-direction: column;
  gap: 12rem;
}

/* cards */
.servicios-card__header {
  font-family: "Teko", sans-serif;
  color: #d9eb0f;
  font-size: 4rem;
}

.servicios-card__text {
  font-size: 2rem;
  line-height: 2.4rem;
}

.servicios__card--left {
  width: 100%;
  height: 25rem;
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  gap: 2.4rem;
}
.servicios__card--left .servicios-card__content-left {
  max-width: 60rem;
  min-width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: center;
}
.servicios__card--left .servicios__img--brand {
  width: 100%;
  height: auto;
  background-image: url("../assets/img/servicios/servicios1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 2rem 2rem 0;
}
.servicios__card--left .servicios__img--web {
  width: 100%;
  height: auto;
  background-image: url("../assets/img/servicios/servicios3.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 2rem 2rem 0;
}

.servicios__card--right {
  width: 100%;
  height: 25rem;
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  text-align: right;
  gap: 2.4rem;
}
.servicios__card--right .servicios-card__content-right {
  max-width: 60rem;
  min-width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2.4rem;
  justify-self: end;
  align-self: center;
}
.servicios__card--right .servicios__img--product {
  width: 100%;
  height: auto;
  background-image: url("../assets/img/servicios/servicios2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 2rem 2rem 0;
}

/* nosotros */
article {
  margin-bottom: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
article .nosotros__img--main {
  width: 100%;
  height: 30rem;
  margin-bottom: 12rem;
  background-image: url("../assets/img/nosotros/nosotros1.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
article .nosotros__content {
  max-width: 80rem;
  min-width: auto;
  margin-bottom: 12rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
article .nosotros__content p {
  font-size: 2rem;
}
article .nosotros__photos {
  width: 100%;
  height: 40rem;
  display: flex;
  gap: 4rem;
  justify-content: center;
  flex-wrap: wrap;
}
article .nosotros__photos .nosotros__img1 {
  width: 36.8rem;
  height: auto;
  border-radius: 2rem;
  background-image: url("../assets/img/nosotros/nosotros2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
article .nosotros__photos .nosotros__img2 {
  width: 36.8rem;
  height: auto;
  border-radius: 2rem;
  background-image: url("../assets/img/nosotros/nosotros3.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
article .nosotros__photos .nosotros__img3 {
  width: 36.8rem;
  height: auto;
  border-radius: 2rem;
  background-image: url("../assets/img/nosotros/nosotros4.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* blog */
.posts-container {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding-inline: 12rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.card-wraper:hover {
  opacity: 0.5;
}

.blog-card__container {
  width: auto;
  height: 40rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.blog-card__header {
  font-family: "Teko", sans-serif;
  font-size: 2rem;
  color: #d9eb0f;
  text-align: center;
}

.blog-card__text {
  font-size: 1.6rem;
  text-align: center;
}

.img-container {
  width: 36.8rem;
  height: 100%;
  border-radius: 2rem 2rem 0 0;
}

.blog__img1 {
  background-image: url("../assets/img/blog/blog1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog__img2 {
  background-image: url("../assets/img/blog/blog2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog__img3 {
  background-image: url("../assets/img/blog/blog3.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog__img4 {
  background-image: url("../assets/img/blog/blog4.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog__img5 {
  background-image: url("../assets/img/blog/blog5.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog__img6 {
  background-image: url("../assets/img/blog/blog6.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* contacto */
.contacto-main {
  padding: 12rem;
  background-color: #fefff4;
  color: #105981;
}

.page__header--azul {
  color: #105981;
}

.contacto-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12rem;
}

.contacto-form__container {
  padding: 1rem;
}
.contacto-form__container form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contacto-form__container form label {
  color: #105981;
}
.contacto-form__container form input {
  padding: 1rem;
  height: 3%;
  border: none;
  border-bottom: 0.1rem solid #105981;
  background-color: #fefff4;
  color: #030d12;
}
.contacto-form__container form input:focus {
  background-color: #d9eb0f;
}
.contacto-form__container form textarea {
  padding: 1rem;
  color: #030d12;
}
.contacto-form__container form textarea:focus {
  background-color: #d9eb0f;
}
.contacto-form__container form button:hover {
  cursor: pointer;
}

.contacto-map__container .contacto-map__wrapper {
  width: 100%;
}
.contacto-map__container .contacto-map__wrapper iframe {
  width: 100%;
}
.contacto-map__container .contacto-direccion {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.contacto-map__container .contacto-direccion p {
  color: #105981;
}

/* media queries */
@media (max-width: 1240px) {
  /* inicio */
  section.hero {
    padding-inline: 8rem;
    flex-direction: column;
  }
  .hero__contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
  }
}
@media (max-width: 768px) {
  /* header */
  .header__links-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  /* inicio */
  section.hero {
    padding-inline: 4rem;
  }
  .contacto-main {
    padding: 3rem;
  }
}
@media (max-width: 640px) {
  /* footer */
  .footer__links-containner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1240px) {
  .nav-burger {
    display: none;
  }
  .close-btn {
    display: none;
  }
  .nav-wraper {
    display: flex;
    position: static;
    justify-content: flex-end;
    background-color: transparent;
    padding: 0;
  }
}
@media (max-width: 868px) {
  .nosotros-inicio {
    width: auto;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 24.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nosotros-inicio__img {
    width: 100%;
    height: 45rem;
  }
  .nosotros-inicio__contenido {
    padding-top: 0;
    padding-right: 0;
    padding: 6rem;
    grid-row: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .proyectos-inicio {
    height: -moz-fit-content;
    height: fit-content;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .proyectos-logo {
    width: 109px;
    height: 176px;
  }
  .proyectos-inicio__contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .proyectos-inicio__titular {
    text-align: center;
    font-size: 4rem;
  }
  .servicios__card--left {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .servicios__card--left .servicios-card__content-left {
    align-items: center;
    text-align: center;
  }
  .servicios__card--left .servicios__img--brand {
    width: 100%;
    height: 20rem;
    border-radius: 1rem;
  }
  .servicios__card--left .servicios__img--web {
    width: 100%;
    height: 20rem;
    border-radius: 1rem;
  }
  .servicios__card--right {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .servicios__card--right .servicios-card__content-right {
    align-items: center;
    text-align: center;
  }
  .servicios__card--right .servicios__img--product {
    width: 100%;
    height: 20rem;
    border-radius: 1rem;
  }
  .nosotros__content p {
    font-size: 2rem;
    text-align: center;
    padding: 3rem;
  }
}/*# sourceMappingURL=styles.css.map */