/* globales */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #fefff4;
  text-decoration: none;
  list-style: none;
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
}

body {
  background: var(
    --degradado4_vertical,
    linear-gradient(180deg, #082735 -3.21%, #030d12 103.67%)
  );
}

/* header */

.nav-bar {
  padding-inline: 12.8rem;
  margin-top: 9.6rem;
  margin-bottom: 20.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__links-container {
  display: flex;
  gap: 4.8rem;
}

.links--blanco {
  font-size: 2rem;
}

.links--blanco:hover {
  text-decoration: underline;
  color: #d9eb0f;
}

/* main */

.hero {
  padding-inline: 12.8rem;
  margin-bottom: 29.7rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2.4rem;
  align-items: center;
}

.hero__logo {
  grid-column: 1 / 3;
}

.hero__contenido {
  grid-column: 4 / 6;
}

.hero__titular {
  margin-bottom: 1.8rem;

  font-size: 4.8rem;
  font-weight: 700;
  line-height: 113%;
  color: #d9eb0f;
}

.hero__texto {
  margin-bottom: 3.2rem;

  font-size: 2.4rem;
  font-weight: 700;
  line-height: 120%;
}

.btn--acido {
  width: 20.7rem;
  height: 6.5rem;
  padding: 1.6rem 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #d9eb0f;
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  border-radius: 3rem;
  border: 0.1rem solid #d9eb0f;
}

.btn--acido:hover {
  color: #082735;
  background-color: #d9eb0f;
}

.nosotros {
  width: auto;
  height: 837px;
  margin-bottom: 24.3rem;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2.4rem;
  background-color: #fefff4;
}

.nosotros__img {
  width: auto;
  grid-column: 1 / 4;
  background-image: url("../assets/img/nosotros_1920x1280.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nosotros__contenido {
  padding-top: 8rem;
  padding-right: 12.8rem;
  grid-column: 4 / 6;
}

.nosotros__titular {
  margin-bottom: 2.8rem;
  font-family: "Teko", sans-serif;
  font-size: 4.8rem;
  font-weight: 500;
  font-style: normal;
  font-optical-sizing: auto;
  line-height: 113%;
  color: #082735;
}

.nosotros__texto {
  margin-bottom: 7rem;
  color: #082735;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.nosotros_video {
  width: 100%;
}

.servicios {
  margin-inline: 12.8rem;
  margin-bottom: 24.3rem;
}

.section-header {
  margin-bottom: 11.5rem;

  text-align: center;
  font-family: "Teko", sans-serif;
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 113%;

  background: linear-gradient(90deg, #d9eb0f 35%, #0076a3 55%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.servicios__cards-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.servicios__card {
  width: 350px;
  height: 272px;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  padding-top: 6rem;
  padding-bottom: 3rem;
  padding-inline: 1.8rem;

  position: relative;

  border-radius: 16px;
  border: 2px dashed #0076a3;
}

.servicios__icon {
  position: absolute;
  right: 38%;
  top: -18%;
}

.servicios__titular {
  margin-bottom: 2rem;
  color: #0076a3;
  text-align: center;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.servicios__texto {
  margin-bottom: 1.6rem;
  color: #0076a3;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.btn--secundario {
  display: flex;
  width: 14.6rem;
  height: 4.6rem;
  padding: 1.2rem 2.4rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 3rem;
}

.btn--azul {
  border: 0.2rem solid #0076a3;

  color: #0076a3;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn--azul:hover {
  border: 0.2rem solid #d9eb0f;
  background-color: #d9eb0f;
  color: #082735;
}

.proyectos {
  width: auto;
  height: 40.4rem;
  padding-inline: 12.8rem;
  margin-bottom: 24.3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-image: url("../assets/img/proyectos_1920x1280.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 100rem rgba(3, 13, 18, 0.7);
}

.proyectos__contenido {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.proyectos__titular {
  margin-bottom: 2rem;
  color: #fefff4;
  text-align: right;
  font-family: "Teko", sans-serif;
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.btn--blanco {
  border: 0.2rem solid #fefff4;

  color: #fefff4;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn--blanco:hover {
  background-color: #fefff4;
  color: #082735;
}

.empresas {
  padding-inline: 12.8rem;
  margin-bottom: 27.3rem;
}

.empresas__logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* footer */

footer {
  width: auto;
  height: 25rem;
  padding-inline: 12.8rem;
  background: #fefff4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer__contenido {
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  gap: 15rem;
}

.footer__links-containner {
  display: flex;
  gap: 3.6rem;
}

.footer__social {
  display: flex;
  gap: 5.7rem;
}

.footer__social-icon:hover {
  opacity: 0.4;
}

.links--azul {
  font-size: 2rem;
  color: #082735;
}

.links--azul:hover {
  text-decoration: underline;
  color: #0076a3;
}

.footer__creditos {
  color: #082735;
}
