
/* componentes */
.page__header {
  margin-left: 12.8rem;
  margin-bottom: 9.6rem;
  color: $acido;
  font-family: $tipo-primaria;
  font-size: 6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
